body{
	background-color: black;
	font-family: Verdana;
	color: white;
	text-align: center;
}

h1{
	font-weight: normal;
	font-size: 50px;
}

.download {
	font-size: 16px;
	text-align: center;
	font-weight: normal;
}

.link {
	color: aquamarine;
}